<div class="header-wrapper-bdgt">
  <h1 class="bdgt">Budget</h1>
</div>
<div class="form-wrapper">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 clearfix">
      <%= form_tag('/budgets', method: 'get') do %>
      <%= label_tag(:search, 'Search for:') %>
      <%= text_field_tag(:search) %>
      <span class="search"><%= submit_tag('Search') %></span>
    <% end %>
    <br>
    <br>
    <p>Number of Budget Items:
      <%= @budgets.count %></p>
    <p>Total Budget Amount:
      <%= number_to_currency(@sum, precise: 2) %></p>

    <table class="table">
      <th>Period</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Progress</th>


      <th>Edit/Delete</th>
      <% @highest_sort.each do |budget|%>
        <tr>
          <td><%= budget.period.month %>/<%= budget.period.year %></td>
          <td> <%= budget.category.name.capitalize %></td>
          <td><%= budget.format_amount %></td>
          <td>

            <div class="progress">
              <%= budget.progress_format %>
    <div class="progress-bar" role="progressbar" aria-valuenow="<% budget.amount %>"
    aria-valuemin="0" aria-valuemax="100" style="<%= budget.progress %>">

    </div>
  </div>

        </td>
          <td><%= link_to "Edit", edit_budget_path(budget)%>
            |
            <%= link_to "Delete", budget_path(budget), method: :delete %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <span class="submit"><%= button_to "Add New Budget", new_budget_path, :class=>"button", :method => :get %></span>

  </div>
</div>
</div>
