<div class="header-wrapper-oth">
  <h1 class="oth"><%= @period.name%> Report</h1>
</div>
<div class="form-wrapper">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 clearfix">
<table class="table">
<th>Date</th>
<th>Vendor</th>
<th>Expense Type</th>
<th>Amount</th>
<th>Budget Category</th>
<th>Budget Amount</th>
<th>Difference</th>
<tr>

<% @period.transactions.each_with_index do |transaction, i| %>
<td><%= transaction.period.month %>/<%= transaction.date %>/<%= transaction.period.year %></td>
<td><%= transaction.vendor %></td>
<td><%= transaction.subcategory.name%></td>
<td>$<%= transaction.format_amount %></td>
<% if i <= @period.budgets.length - 1 %>

<td><%= @period.budgets[i].category.name %></td>
<td><%= @period.budgets[i].amount %></td>
<td><%= "difference_calc" %></td>
<% end %>

</tr>
<% end %>

</table>
</div>
<div class="col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-6">
  <span class="box-green">Optional image here</span>

</div>
