<h1><%= @user.name %></h1>
<p>Logged in as: <%= @user.email %></p>

<h2>Budget</h2>
<% @user.budgets.each do |budget| %>
<p><%= budget.period.month %>/<%= budget.period.year %>: <%= budget.category.name %> | <%= budget.amount %> </p>
<% end %>

<h2>Expenses</h2>
<% @user.transactions.each do |transaction| %>
<p><%= transaction.period.month %>/<%= transaction.period.year %>: <%= transaction.subcategory.name %> | <%= transaction.format_amount %> </p>
<% end %>
