<div class="header-wrapper-bdgt">
  <h1 class="bdgt">Budget Categories</h1>
</div>
<div class="form-wrapper">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 clearfix">

<%= form_tag('/categories', method: :get) do %>
 <%= label_tag(:search, 'Search for:') %>
 <%= text_field_tag :search, params[:search] %>
 <%= submit_tag 'Search', name: nil %>
<% end %>

<p>Number of categories: <%= @categories.count %></p>
<p>Today's Date: <%= Time.now.strftime("%B %d, %Y %l:%M")%> </p>
<% @categories.each do |category| %>
<table class="table">
<th>Budget Period</th><th><%= category.name.capitalize %></th><th>Description</th>
<%category.budgets.each do |budget| %>
<tr>
<td><%= budget.period.name %></td>
<td><%= budget.amount %></td>
<td><%= budget.description %></td>
</tr>
<% end %>
</table>
<br>
<% end %>
</div>
</div>
</div>
