<div class="form-wrapper">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 clearfix">
      <%= form_with model: @transaction, builder: TemplateFormBuilder do |f| %>
      <%= f.select :period_id, Period.all.map { |period| [period.name, period.id]} %><br>
      <%= f.text_field :subcategory_name, list: "subcategories_autocomplete" %>
        <datalist id="subcategories_autocomplete">
          <% Subcategory.all.each do |subcategory| %>
            <option value="<%= subcategory.name %>">
          <% end %>
        </datalist>
      <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] } %>
      <%= f.text_field :date %>
      <%= f.text_field :vendor %>
      <%= f.text_field :amount %>
      <%= f.text_area :description %><br>
      <span class="submit"><%= f.submit %></span>
      <% end %>
    </div>
  </div>
</div>
