<style>
table, th, td, tr {
    border: 1px solid black;
}
td {
  width: 200px;
}
td:first-child {
  width: 100px;
}
</style>
<h1>All Expenses</h1>

<p>Highest Category: <%=  %></p>
<p>Number of transactions: <%= @transactions.count %></p>
<p>Total Expenses: $<%= @sum %></p>

<table>

  <!-- sort by date -->
<th>Date</th><th>Vendor</th><th>Account Type</th><th>Amount</th><th>See Details</th><th>Edit/Delete</th>
<% @sort.each do |transaction| %>
<tr>
<td><%= transaction.period.month %>/<%= transaction.date %>/<%= transaction.period.year %></td>
<td><%= transaction.vendor %></td>
<td><%= transaction.subcategory.name %></td>
<td>$<%= transaction.amount %></td>
<td><%= link_to "View More", transaction_path(transaction) %></td>
<td><%= link_to "Edit", edit_transaction_path(transaction) %> | <%= link_to "Delete", transaction_path(transaction), method: :delete %></td>
</tr>
<% end %>
</table>
