<style>
table, th, td, tr {
    border: 1px solid black;
}
td {
  width: 200px;
}
td:first-child {
  width: 100px;
}
</style>
<h1>Transaction Detail</h1>

<table>

  <!-- sort by date -->
<th>Date</th><th>Vendor</th><th>Account Type</th><th>Amount</th>
<tr>
<td><%= @transaction.period.month %>/<%= @transaction.date %>/<%= @transaction.period.year %></td>
<td><%= @transaction.vendor %></td>
<td><%= @transaction.subcategory.name %></td>
<td><%= @transaction.amount %></td>

</tr>
</table>
