<div class="header-wrapper-txn">
  <h1 class="txn">Transaction Detail</h1>
</div>
<div class="form-wrapper">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 clearfix">
      <table class="table">

        <!-- sort by date -->
        <th>Date</th>
        <th>Vendor</th>
        <th>Expense Type</th>
        <th>Amount</th>
        <th>Budget Category</th>
        <th>Budget Amount</th>
        <tr>
          <td><%= @transaction.period.month %>/<%= @transaction.date %>/<%= @transaction.period.year %></td>
          <td><%= @transaction.vendor %></td>
          <td><%= @transaction.subcategory.name %></td>
          <td><%= @transaction.format_amount %></td>
          <td><%= @transaction.subcategory.category.name %></td>
          <td><%= @transaction.category_total %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
